In [1]:
import pandas as pd

In [2]:
one_to_one_old_format = pd.read_csv('/data/passala/Data_from_CoCoCoNet/One_to_one_mapping_from_cococonet/arabi_maize_one_one_needs_conversion.csv')
one_to_one_old_format

              maize    arabidopsis
1     4577_0:000007  3702_0:0069ac
2     4577_0:000f75  3702_0:005b5f
3     4577_0:005d93  3702_0:003f1e
4     4577_0:005d93  3702_0:005845
5     4577_0:0009f8  3702_0:0032cb
...             ...            ...
3951  4577_0:00037a  3702_0:001bb5
3952  4577_0:003239  3702_0:004931
3953  4577_0:003239  3702_0:0049d0
3954  4577_0:003239  3702_0:004d09
3955  4577_0:003239  3702_0:004db9

[3955 rows x 2 columns]

In [3]:
gene_info_maize = pd.read_csv('/data/CoCoCoNet/geneInfo/maize_info.csv')
gene_info_arabi = pd.read_csv('/data/CoCoCoNet/geneInfo/arabidopsis_info.csv')

In [4]:
one_to_one_old_format = one_to_one_old_format.merge(right = gene_info_arabi[['OrthoID','LocusTag']], left_on= 'arabidopsis', right_on = 'OrthoID')
one_to_one_old_format.rename(columns = {'arabidopsis':'arabidopsis_OrthoID','maize':'maize_OrthoID','LocusTag':'arabidopsis'}, inplace= True)
one_to_one_old_format.drop(columns = 'OrthoID', inplace= True)
one_to_one_old_format

      maize_OrthoID arabidopsis_OrthoID arabidopsis
0     4577_0:000007       3702_0:0069ac   AT5G42760
1     4577_0:000f75       3702_0:005b5f   AT5G39940
2     4577_0:005d93       3702_0:003f1e   AT3G27230
3     4577_0:005d93       3702_0:005845   AT5G40830
4     4577_0:0009f8       3702_0:0032cb   AT3G21060
...             ...                 ...         ...
3861  4577_0:00037a       3702_0:001bb5   AT1G70360
3862  4577_0:003239       3702_0:004931   AT4G29690
3863  4577_0:003239       3702_0:0049d0   AT4G29710
3864  4577_0:003239       3702_0:004d09   AT4G29700
3865  4577_0:003239       3702_0:004db9   AT4G29680

[3866 rows x 3 columns]

In [5]:
gene_info_maize

,EntrezID,EnsemblID,GeneSymbol,LocusTag,Synonyms,dbXrefs,Chromosome,Type,UniProtID,UniProtID2,OrthoID,NetworkIDs
0,100382519.0,Zm00001d027231,LOC100382519,ZEAMMB73_Zm00001d027231,|GRMZM2G059865|pco082477|,|NA|,1,protein-coding,C0P8I2,NaN,4577_0:0000f4,Zm00001d027231
1,NaN,Zm00001d027259,NaN,NaN,NaN,|NA|,NaN,NaN,A0A1D6JJF9,NaN,4577_0:00049b,Zm00001d027259
2,100193420.0,Zm00001d027267,LOC100193420,ZEAMMB73_Zm00001d027267,|GRMZM2G374779|,|NA|,1,protein-coding,B4FEZ2,NaN,4577_0:000b35,Zm00001d027267
3,100283177.0,Zm00001d027268,LOC100283177,ZEAMMB73_Zm00001d027268,|GRMZM2G374812|,|NA|,1,protein-coding,B4FS29,NaN,4577_0:0000c0,Zm00001d027268
4,103630457.0,Zm00001d027276,LOC103630457,ZEAMMB73_Zm00001d027276,|GRMZM2G002121|,|NA|,1,protein-coding,A0A1D6JJP0,NaN,4577_0:000fce,Zm00001d027276
...,...,...,...,...,...,...,...,...,...,...,...,...
46267,NaN,ENSRNA049478543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSRNA049478543
46268,NaN,ENSRNA049478539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSRNA049478539
46269,NaN,ENSRNA049478900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSRNA049478900
46270,NaN,ENSRNA049478881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSRNA049478881
46271,NaN,ENSRNA049478891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSRNA049478891

In [7]:
one_to_one_old_format = one_to_one_old_format.merge(right = gene_info_maize[['OrthoID','EnsemblID']], left_on= 'maize_OrthoID', right_on = 'OrthoID')
one_to_one_old_format = one_to_one_old_format.rename(columns = {'EnsemblID':'maize'})
one_to_one_old_format = one_to_one_old_format.drop(columns = 'OrthoID')
one_to_one_old_format

      maize_OrthoID arabidopsis_OrthoID arabidopsis           maize
0     4577_0:000007       3702_0:0069ac   AT5G42760  Zm00001d034249
1     4577_0:000f75       3702_0:005b5f   AT5G39940  Zm00001d031216
2     4577_0:005d93       3702_0:003f1e   AT3G27230  Zm00001d036103
3     4577_0:005d93       3702_0:005845   AT5G40830  Zm00001d036103
4     4577_0:0046b7       3702_0:00531b   AT5G65740  Zm00001d013361
...             ...                 ...         ...             ...
2721  4577_0:00037a       3702_0:001bb5   AT1G70360  Zm00001d028296
2722  4577_0:003239       3702_0:004931   AT4G29690  Zm00001d039454
2723  4577_0:003239       3702_0:0049d0   AT4G29710  Zm00001d039454
2724  4577_0:003239       3702_0:004d09   AT4G29700  Zm00001d039454
2725  4577_0:003239       3702_0:004db9   AT4G29680  Zm00001d039454

[2726 rows x 4 columns]

In [9]:
one_to_one_old_format.to_csv('/data/passala/Data_from_CoCoCoNet/One_to_one_mapping_from_cococonet/arabi_maize_one_one_converted_format.csv', index= False)

In [10]:
one_to_one_old_format.drop_duplicates(subset = 'arabidopsis_OrthoID')

      maize_OrthoID arabidopsis_OrthoID arabidopsis           maize
0     4577_0:000007       3702_0:0069ac   AT5G42760  Zm00001d034249
1     4577_0:000f75       3702_0:005b5f   AT5G39940  Zm00001d031216
2     4577_0:005d93       3702_0:003f1e   AT3G27230  Zm00001d036103
3     4577_0:005d93       3702_0:005845   AT5G40830  Zm00001d036103
4     4577_0:0046b7       3702_0:00531b   AT5G65740  Zm00001d013361
...             ...                 ...         ...             ...
2721  4577_0:00037a       3702_0:001bb5   AT1G70360  Zm00001d028296
2722  4577_0:003239       3702_0:004931   AT4G29690  Zm00001d039454
2723  4577_0:003239       3702_0:0049d0   AT4G29710  Zm00001d039454
2724  4577_0:003239       3702_0:004d09   AT4G29700  Zm00001d039454
2725  4577_0:003239       3702_0:004db9   AT4G29680  Zm00001d039454

[2726 rows x 4 columns]